{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Company Name</th>
          <th scope="col">Stock Symbol</th>
          <th scope="col">Quantity</th>
          <th scope="col">Current Price</th>
          <th scope="col">Current Value</th>
        </tr>
      </thead>
      <tbody>

      {%for d in groups %}
      {%set stock = lookup(d.symbol)%}

        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{stock.name}}</td>
          <td>{{d.symbol}}</td>
          <td>{{d.SUM}}</td>
          <td>{{"$%.2f" | format(stock.price)}}
          <td>{{"$%.2f" | format(d.SUM * stock.price)}}</td>
        </tr>

        {% endfor %}

        <tr>
          <td>Current Balance</td>
          <td>{{"$%.2f" | format(cashVal)}}</td>
        </tr>
        <tr>
          <td>Grand Total</td>
          <td>{{"$%.2f" | format(GRNDTOT)}}</td>
        </tr>

      </tbody>
    </table>

{% endblock %}